#True {
    margin: 15px;
}
#False {
    margin: 15px;
}
#container {
    width: 300px;
    margin-left: auto;
    margin-right: auto;

}
.choice {
    background-color: rgb(231, 136, 152);
    border-radius: 5px; 
    margin-top: 15px;
    margin-bottom: 15px;
    color: rgb(26, 26, 80); 
/* blue = text */
/* can add padding here */
    font-size: 25px;
    /* changes button size (font inside of buttons */
}
.questions {
    display: none; 
}
body {
    background-color: blueviolet; /* styles whole background*/
}
#startQuiz {
    background-color: blue; /*button background color*/
}
#quizGame {
    color: green; /*bg color on title*/
}